# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=DB_NAME
DB_USER=postgres
DB_PASS=DB_PASS

# Other
LOG_LEVEL=ERROR

# Bot
BOT_TOKEN=BOT_TOKEN
ADMINS=123123,12321321


#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=REDIS_PASSWORD
